/*box that shows time and name*/
.prayer{
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
    background-color: #094365;
    color:white;
}

.top{
    padding:30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.prayer-name{
    font-weight: 600;
    font: size 20px;
    line-height:1;
    margin:0;
    letter-spacing: 1px;
}
.prayer-time{
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}
.prayer-icon{
    width:100px;
}
